/* -------------------- *\
  Fonts
\* -------------------- */
@font-face {
    font-family: "Frutiger LT Arabic 45 Light";
    src: url(../fonts/FrutigerLTArabic-45Light.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto Light";
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: "Roboto Medium";
    src: url(../fonts/Roboto-Medium.ttf);
}
/* -------------------- *\
  Start components
\* -------------------- */
.frutiger-light {
    font-family: "Frutiger LT Arabic 45 Light", sans-serif;
}
.roboto {
    font-family: Roboto, sans-serif;
}
.roboto-light {
    font-family: "Roboto Light", sans-serif;
}
.roboto-medium {
    font-family: "Roboto Medium", sans-serif;
}
.text-underline {
    text-decoration: underline;
}
.green-text {
    color: #106b2e;
}
.white-text {
    color: #fff;
}
.black-text-0 {
    color: #000;
}
.black-text-2 {
    color: #222;
}
.brown-text {
    color: #a07b1b;
}
.quran-btn {
    border-radius: 6px;
    font-family: Roboto, sans-serif;
}
.btn-green {
    background-color: #106b2e;
    border-color: #106b2e;
    margin-right: 6px;
    font-size: 18px;
}
.btn-brown-transparent {
    border-color: #a07b1b;
    color: #a07b1b;
}
.border-2 {
    border-width: 2px;
    border-style: solid;
}
.border-3 {
    border-width: 3px;
    border-style: solid;
}
.transition {
    transition: .15s ease-in-out;
}
.QuranGift-text {
    font-family: "Frutiger LT Arabic 45 Light", sans-serif;
    font-size: 20px;
    color: #106b2e !important;
}
.btn-green:hover {
    background-color: #f9f8f5;
    color: #106b2e;
    text-decoration: none;
}
.btn-brown-transparent:hover {
    background-color: #a07b1b;
    color: #fff;
    text-decoration: none;
}
/* -------------------- *\
  Start Navbar
\* -------------------- */
header nav.navbar {
    padding-top: 16px;
}
header .navbar-nav .nav-item > a {
    padding: 0 !important;
}
header nav .navbar-brand.QuranGift-text {
    margin-right: 25px;
}
header nav .navbar-brand.QuranGift img {
    margin-right: 8px;
    margin-top: 6px;
}
header .navbar-collapse .navbar-nav .nav-item {
    margin: 0 20px;
}
header .navbar-collapse .navbar-nav .nav-item a {
    color: #222;
}
header .navbar-collapse .navbar-nav .nav-item .order-now {
    color: #ac4c31;
    font-weight: 700;
}
header .nav-item .dropdown-toggle::after {
    margin-left: 0;
    vertical-align: .15em;
    border-top: .4em solid;
    border-right: .2em solid transparent;
    border-left: .2em solid transparent;
}
header .login-register {
    right: 0;
}
header nav .handbag {
    font-size: 24px;
    vertical-align: middle;
}
header nav .handbag:hover {
    cursor: pointer;
}
header nav .modal-button {
    width: 169px;
    height: 47px;
    border-radius: 24px;
    background-color: #c8a038;
    cursor: pointer;
    outline: none;
    border: 2px solid #c8a038;
}
header nav .modal-button:hover {
    color: #c8a038;
    background-color: transparent;
}
/* -------------------- *\
  End Navbar
\* -------------------- */

/* -------------------- *\
  Start Header
\* -------------------- */
header {
    border-bottom: 1px solid #e5dacb;
    background-color: #f9f8f5;
}
header .carousel {
    padding: 0 60px 0 120px;
    max-width: 1340px;
    margin: 0 auto;
}
header .carousel-control-next, .carousel-control-prev {
    width: 60px;
}
header .carousel-next-icon, .carousel-prev-icon {
    top: -30px;
    width: 55px;
    height: 55px;
    background-color: rgba(107, 83, 19, .3);
    border-radius: 50%;
}
header .carousel-next-icon:after, .carousel-prev-icon:after {
    content: "";
    position: absolute;
    top: 18px;
    left: 22px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
}
header .carousel-next-icon:after {
    transform: rotate(135deg);
    left: 13px;
}
header .carousel .image {
    top: 5px;
    right: -40px;
}
header .carousel .text {
    text-align: left;
    max-width: 609px;
    margin: 120px 0 195px;
}
header .text h1 {
    max-width: 609px;
}
header .text p {
    font-size: 18px;
    font-weight: 700;
    margin: 40px 0 46px;
    max-width: 506px;
    line-height: 21px;
}
header .text .order-copy {
    padding: 12px 56px;
    margin-right: 6px;
    font-size: 18px;
}
header .text .learn-more {
    padding: 12px 42px;
    font-size: 19px;
}
header .text .learn-more:hover {
    text-decoration: underline;
}
/* -------------------- *\
  End Header
\* -------------------- */

/* -------------------- *\
  Start features
\* -------------------- */
.features {
    background: url(../img/breaker-1.png) center/cover;
    max-width: 866px;
    height: 184px;
    top: -93px;
}
.features .feature {
    padding: 0 42px;
}
.features .feature:not(:last-of-type) {
    border-right: 1px solid #dedfe1;
}
.features .feature p {
    max-width: 160px;
    font-size: 14px;
    line-height: 16px;
}
/* -------------------- *\
  End features
\* -------------------- */

/* -------------------- *\
  Start Get-Started Section
\* -------------------- */
section.get-started {
    padding-bottom: 70px;
    margin-top: -10px;
}
section.get-started .steps {
    flex-wrap: wrap;
    justify-content: space-around;
}
section.get-started h2.h1 {
    max-width: 772px;
    margin-bottom: 65px;
}
section.get-started span {
    font-size: 15px;
}
section.get-started h2 {
    font-size: 40px;
    margin-bottom: 18px;
}
section.get-started p {
    max-width: 340px;
    font-size: 15px;
    color: #afa9a0;
    margin-top: 4px;
    margin-left: -10px;
    line-height: 17px;
}
section.get-started .steps > div {
    margin-bottom: 75px;
}
section.get-started .step-two {
    margin-top: 60px;
}
section.get-started .get-started {
    padding: 15px 85px;
    font-size: 24px;
}
/* -------------------- *\
  End Get-Started Section
\* -------------------- */

.image-breaker {
    height: 33px;
    background: url(../img/breaker-2.png);
}

/* -------------------- *\
  Start Designs Section
\* -------------------- */
section.designs {
    background-color: #a07b1b;
    padding: 85px 0 225px;
}
section.designs h2.h1 {
    max-width: 609px;
    margin-bottom: 65px;
}
section.designs .image {
    border-radius: 6px;
    margin-right: 16px;
    margin-left: 16px;
    border: 1px solid #979797;
}
section.designs p {
    margin-top: 58px;
    color: #e5dacb;
}
/* -------------------- *\
  End Designs Section
\* -------------------- */

/* -------------------- *\
  Start Print Provider
\* -------------------- */
.print-provider-container {
    top: -175px;
    max-width: 1006px;
    overflow: hidden;
    margin-bottom: -100px;
    box-shadow: 0 1px 60px rgba(0, 0, 0, .17);
}
.print-provider-container .text {
    max-width: 609px;
    padding: 0 15px;
}
.print-provider-container h2.h1 {
    margin-bottom: 35px;
}
.print-provider-container .print-provider-btn {
    padding: 12px 38px 10px;
    font-size: 19px;
}
/* -------------------- *\
  End Print Provider
\* -------------------- */

/* -------------------- *\
  Start World-Map Section
\* -------------------- */
section.world-map {
    margin-bottom: 82px;
    max-width: 985px;
}
section.world-map h2.h1 {
    bottom: 16px;
    right: 0;
    color: #8a6810;
    background: -webkit-linear-gradient(240deg, rgba(138,104,16,1) 0%, rgba(200,160,56,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* -------------------- *\
  End World-Map Section
\* -------------------- */

/* -------------------- *\
  Start Footer Section
\* -------------------- */
footer {
    background-color: #f9f8f5;
    padding: 38px 0 66px;
}
footer p {
    max-width: 463px;
    margin-top: 40px;
    margin-bottom: 19px;
    color: #afa9a0;
}
footer .footer-links {
    max-width: 990px;
    margin: 67px auto 63px;
}
footer .list:not(:last-of-type) {
    border-right: 1px solid #dedfe1;
}
footer .list li a {
    font-size: 16px;
    font-weight: 400;
    color: #222;
}
footer .social-links i {
    cursor: pointer;
}
footer .order-copy {
    padding: 10px 75px;
    margin-right: 9px;
    font-size: 18px;
}
footer .print-provider-btn {
    padding: 11px 36px;
    font-size: 19px;
}
.copyright {
    background-color: #fefdfc;
    padding: 33px 0 81px;
}
/* -------------------- *\
  End Footer Section
\* -------------------- */

/* -------------------- *\
  Media Queries
\* -------------------- */
@media (max-width: 1300px) {
    header .carousel-item {
        text-align: center !important;
    }
    header .carousel .image {
        position: unset !important;
    }
    header .carousel .text {
        margin: 50px 0 145px;
    }
}
@media (max-width: 1250px) {
    header .navbar-collapse {
        margin-top: 15px;
        display: flex;
        align-items: start;
    }
    header .navbar-nav {
        margin-bottom: 10px;
    }
    header .navbar-collapse .navbar-nav .nav-item {
        margin: 8px 0;
    }
    header .login-register {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    header nav .login-register i {
        flex: 100%;
        order: 2;
        text-align: right;
        margin-top: 15px;
        margin-right: 0 !important;
    }
}
@media (max-width: 1200px) {
    section.get-started .step-two {
        margin-top: 0;
    }
}
@media (max-width: 992px) {
    header .carousel {
        padding: 0 60px;
    }
    section.designs .design-images .image:not(.last) {
        margin-bottom: 20px;
    }
}
@media (max-width: 900px) {
    header .carousel .text {
        margin: 50px 0;
    }
    .features {
        background: none;
        top: 0;
        height: auto;
        margin: 120px 0;
    }
    section.get-started {
        margin-top: 0;
    }
}
@media (max-width: 767px) {
    .features .feature:not(:last-of-type) {
        border-right: none;
    }
    .features .feature {
        flex: 0 0 50%;
    }
    section.designs .image {
        flex: 0 0 calc( 50% - 32px );
    }
    section.world-map h2.h1 {
        bottom: -10px;
    }
    footer .footer-links {
        margin: 51px auto 47px;
    }
    footer .list {
        flex: 0 0 100%;
    }
    footer .list:not(:last-of-type) {
        border-right: none;
        border-bottom: 1px solid #dedfe1;
    }
    footer .order-copy, footer .print-provider-btn {
        display: block !important;
    }
    footer .order-copy {
        margin: 0 0 10px 0;
    }
}
@media (max-width: 576px) {
    header .text .order-copy, header .text .learn-more {
        display: block !important;
    }
    header .text .order-copy {
        padding-left: 42px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .features {
        margin: 32px 0;
    }
    .features .feature {
        flex: 0 0 100%;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .features .feature:not(:last-of-type) {
        border-bottom: 1px solid #dedfe1;
    }
}
@media (max-width: 500px) {
    header .text h1, section.get-started h2, section.designs h2.h1, .print-provider-container h2.h1 {
        font-size: 24px;
    }
    header nav .modal-button {
        max-width: 169px;
        width: auto;
    }
}
@media (max-width: 400px) {
    header .text .order-copy, header .text .learn-more {
        padding: 13px 26px;
    }
    section.get-started .get-started {
        padding: 15px 59px;
    }
    section.world-map h2.h1 {
        font-size: 28px;
    }
}
@media (max-width: 350px) {
    .print-provider-container h2 {
        margin-bottom: 24px;
    }
    .print-provider-container .print-provider-btn {
        padding: 12px 28px;
    }
    footer .order-copy {
        padding: 12px 65px;
    }
    footer .print-provider-btn {
        padding: 11px 25px;
    }
}
@media (min-width: 1250px) {
    .navbar-expand-custom {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom > .container,
    .navbar-expand-custom > .container-fluid {
        flex-wrap: nowrap;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}

