/* -------------------- *\
  Fonts
\* -------------------- */
@font-face {
    font-family: "Frutiger LT Arabic 45 Light";
    src: url(../fonts/FrutigerLTArabic-45Light.ttf);
}
@font-face {
    font-family: "Frutiger LT Arabic 55 Roman";
    src: url(../fonts/FrutigerLTArabic-55Roman.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto Light";
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: "Roboto Medium";
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: "themify";
    src: url(../components/themify-icons/fonts/themify.ttf);
}
/* -------------------- *\
  Start Globals
\* -------------------- */
body {
    color: #000;
    background: #FEFDFC;
}
button {
    border: none;
}
button:focus {
    outline: none;
}
button, i {
    cursor: pointer;
}
.modal {
    padding: 0 !important;
}
::placeholder {
    color: #777;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}
input:focus ~ .floating-label,
textarea:focus ~ .floating-label {
    top: 3px;
    font-size: 14px;
}
.floating-label.active {
    top: 3px;
    font-size: 14px;
}
.floating-label {
    pointer-events: none;
    left: 57px;
    top: 26px;
    z-index: 999;
}
input.small:focus ~ .floating-label {
    top: 1px;
}
input.small ~ .floating-label {
    top: 19px;
}
select {
    -webkit-appearance: none;
}
.form-group {
    flex: 1 1 calc(50% - 20px);
    margin-bottom: 20px;
    border-radius: 2px;
    border: 1px solid #e5dacb;
}
.flex-wrap > .form-group:nth-of-type(odd):not(:last-of-type) {
    margin-right: 20px;
}
.form-group i {
    padding: 0 9px 0 20px;
}
.form-group input, .form-group select {
    height: 75px;
}
.select-wrapper:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 6px;
    border-color: transparent;
    border-top-color: #afa9a0;
    cursor: pointer;
    pointer-events: none;
}
input[type=checkbox] {
    height: auto;
}
textarea {
    resize: none;
}
/* -------------------- *\
  Start components
\* -------------------- */
.font-14 {
    font-size: 14px;
}
.font-15 {
    font-size: 15px;
}
.font-16 {
    font-size: 16px;
}
.font-18 {
    font-size: 18px;
}
.font-20 {
    font-size: 20px;
}
.font-21 {
    font-size: 21px;
}
.font-22 {
    font-size: 22px;
}
.font-24 {
    font-size: 24px;
}
.font-26 {
    font-size: 26px;
}
.font-25 {
    font-size: 25px;
}
.font-28 {
    font-size: 28px;
}
.font-32 {
    font-size: 32px;
}
.font-38 {
    font-size: 38px;
}
.font-700 {
    font-weight: 700;
}
.frutiger-light {
    font-family: "Frutiger LT Arabic 45 Light", sans-serif;
}
.frutiger-roman {
    font-family: "Frutiger LT Arabic 45 Roman", sans-serif;
}
.roboto {
    font-family: Roboto, sans-serif;
}
.roboto-light {
    font-family: "Roboto Light", sans-serif;
}
.roboto-medium {
    font-family: "Roboto Medium", sans-serif;
}
.roboto-bold {
    font-family: "Roboto Bold", sans-serif;
}
.text-underline {
    text-decoration: underline;
}
.no-underline, .no-underline:hover {
    text-decoration: none;
}
.green-text {
    color: #106b2e;
}
.white-text {
    color: #fff;
}
.black-text-0 {
    color: #000;
}
.black-text-2 {
    color: #222;
}
.black-text-3 {
    color: #333;
}
.black-text-6 {
    color: #666;
}
.black-text-7 {
    color: #777;
}
.brown-text {
    color: #a07b1b;
}
.grey-text {
    color: #afa9a0;
}
.red-text {
    color: #ac4c31;
}
.white-bg {
    background-color: #fff;
}
.whitish-bg {
    background-color: #fefdfc;
}
.grey-bg {
    background-color: #f8f5f0;
}
.green-bg {
    background-color: rgba(16, 107, 46, .1);;
}
.no-outline, .no-outline:focus {
    outline: none;
}
.no-border {
    border: none;
}
.main-border {
    border: 1px solid #e5dacb;
}
.main-border-b {
    border-bottom: 1px solid #e5dacb;
}
.image-border {
    border: 1px solid rgba(175, 169, 160, .2)
}
.br-2 {
    border-radius: 2px;
}
.br-3 {
    border-radius: 3px;
}
.br-4 {
    border-radius: 4px;
}
.br-5 {
    border-radius: 5px;
}
.br-6 {
    border-radius: 6px;
}
.br-10 {
    border-radius: 10px;
}
.br-24 {
    border-radius: 24px;
}
.br-rd {
    border-radius: 50%;
}
.quran-btn {
    border-radius: 6px;
    font-family: Roboto, sans-serif;
}
.btn-green {
    background-color: #106b2e;
    border-color: #106b2e;
    font-size: 18px;
}
.btn-brown {
    border-color: #a07b1b;
    color: #a07b1b;
    font-size: 19px;
}
.btn-green:hover {
    background-color: #f9f8f5;
    color: #106b2e;
    text-decoration: none;
}
.btn-brown:hover {
    background-color: #a07b1b;
    color: #fff;
    text-decoration: none;
}
.border-1 {
    border-width: 1px;
    border-style: solid;
}
.border-2 {
    border-width: 2px;
    border-style: solid;
}
.border-3 {
    border-width: 3px;
    border-style: solid;
}
.transition {
    transition: .15s ease-in-out;
}
.transparent {
    background-color: transparent;
}
.QuranGift-text {
    font-family: "Frutiger LT Arabic 45 Light", sans-serif;
    font-size: 20px;
    color: #106b2e !important;
}
.pointer {
    cursor: pointer;
}
/* -------------------- *\
  Start Navbar
\* -------------------- */
header nav.navbar {
    padding-top: 12px;
}
header .navbar-nav .nav-item > a {
    padding: 0 !important;
}
header nav .navbar-brand.QuranGift-text {
    margin-right: 25px;
}
header nav .navbar-brand.QuranGift img {
    margin-right: 8px;
    margin-top: 6px;
}
header .navbar-collapse .navbar-nav .nav-item {
    margin: 0 20px;
}
header .navbar-collapse .navbar-nav .nav-item a {
    color: #222;
}
header .navbar-collapse .navbar-nav .nav-item .order-now {
    color: #ac4c31;
    font-weight: 700;
}
header .nav-item .dropdown-toggle::after {
    margin-left: 0;
    vertical-align: .15em;
    border-top: .4em solid;
    border-right: .2em solid transparent;
    border-left: .2em solid transparent;
}
header .navbar .handbag {
    font-size: 24px;
    margin-right: 16px;
}
header .navbar .cart-number {
    display: none;
    top: 2px;
    left: -3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ac4c31;
    font-size: 10px;
}
header .navbar .cart-number.active {
    display: inline-block;
}
header .navbar .cart-modal {
    top: 18px ;
    left: -147px;
    border-radius: 0;
}
header .cart-modal .modal-dialog {
    max-width: 724px;
    left: 298px;
    top: 34px;
}
header .navbar .cart-modal .modal-content {
    padding: 0;
    border-radius: 0;
}
header .cart-modal .modal-content:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -24px;
    left: 469px;
    border-style: solid;
    border-width: 12px;
    border-color: transparent transparent #fff transparent
}
header .navbar .cart-modal .modal-header {
    padding: 36px 25px 3px 37px;
}
header .edit-cart:hover {
    color: #a07b1b;
}
header .cart-modal .modal-body {
    padding: 26px 37px;
    margin-top: 23px;
    overflow: hidden;
    background-color: #f9f8f5;
}
header .cart-modal .modal-body {
    cursor: grab;
    height: 300px;
}
header .cart-modal .modal-body.empty {
    cursor: default;
}
header .cart-modal .item {
    width: 175px;
    height: 200px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .15);
    border-radius: 2px;
    margin-right: 25px;
    background-color: #fff;
}
header .cart-modal .empty-cart {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header .cart-modal .empty-cart.hide {
    display: none;
}
header .cart-modal .empty-cart .shop-now {
    height: 50px;
}
header .cart-modal .delete {
    top: 3px;
    left: 5px;
    width: 14px;
    height: 14px;
    color: #fff;
    background-color: #ac4c31;
    opacity: 1;
    text-shadow: none;
    border-radius: 50%;
    line-height: 0;
}
header .cart-modal .delete:hover {
    color: #fff !important;
    opacity: .9 !important;
}
header .cart-modal .delete span {
    left: 4px;
    top: 6px;
    font-size: 10px;
}
header .cart-modal .item-image {
    margin: -20px 0 0 16px;
}
header .cart-modal .item-body {
    padding: 16px 12px 13px 11px;
}
header .cart-modal .item-title {
    margin-left: 13px;
}
header .navbar .cart-modal .modal-footer {
    padding: 23px 25px 26px 33px;
}
header .cart-modal .modal-footer button {
    height: 61px;
    border-radius: 2px;
    background-color: rgba(16, 107, 46, .1);
}
header .navbar .modal-button {
    width: 169px;
    height: 47px;
    border-radius: 24px;
    background-color: #c8a038;
    border: 2px solid #c8a038;
}
header .navbar .modal-button:hover {
    color: #c8a038;
    background-color: transparent;
}
header .navbar .modal-content {
    padding: 0 8px 0 11px;
    box-shadow: 0 2px 34px rgba(0, 0, 0, .2);
}
header .navbar .modal-header {
    padding: 32px 9px 3px 16px;
}
header form .form-control {
    height: 61px;
}
header form .input-group i {
    padding: 0 10px 0 20px;
}
header .navbar .submit {
    width: 100%;
    height: 61px;
    border-radius: 2px;
    background-color: rgba(16, 107, 46, .1);
    margin-top: 4px;
}
header .navbar .modal-footer {
    padding-top: 21px;
    padding-bottom: 31px;
}
header .navbar .social-login {
    margin-top: 19px;
}
header .navbar .social-login button {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    margin: 0 6px;
}
header .navbar .social-login i {
    margin-right: 4px;
}
/* -------------------- *\
  End Navbar
\* -------------------- */

/* ------------------------------------------------------------------ *\
  Start Home Page
\* ------------------------------------------------------------------ */

/* -------------------- *\
  Start Header
\* -------------------- */
header {
    border-bottom: 1px solid #e5dacb;
    background-color: #f9f8f5;
}
header .carousel {
    padding: 0 60px 0 120px;
    max-width: 1340px;
    margin: 0 auto;
}
header .carousel-control-next, .carousel-control-prev {
    width: 60px;
}
header .carousel-next-icon, .carousel-prev-icon {
    top: -30px;
    width: 55px;
    height: 55px;
    background-color: rgba(107, 83, 19, .3);
    border-radius: 50%;
}
header .carousel-next-icon:after, .carousel-prev-icon:after {
    content: "";
    position: absolute;
    top: 18px;
    left: 22px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
}
header .carousel-next-icon:after {
    transform: rotate(135deg);
    left: 13px;
}
header .carousel .image {
    top: 5px;
    right: -40px;
}
header .carousel .text {
    text-align: left;
    max-width: 609px;
    margin: 120px 0 195px;
}
header .text h1 {
    max-width: 609px;
}
header .text p {
    font-weight: 700;
    margin: 40px 0 46px;
    max-width: 506px;
    line-height: 21px;
}
header .text .order-copy {
    padding: 12px 56px;
    margin-right: 6px;
}
header .text .learn-more {
    padding: 12px 42px;
}
header .text .learn-more:hover {
    text-decoration: underline;
}
/* -------------------- *\
  End Header
\* -------------------- */

/* -------------------- *\
  Start features
\* -------------------- */
section.features .features-image {
    background: url(../img/breaker-1.png) center/cover;
    max-width: 866px;
    height: 184px;
    top: -93px;
}
section.features .feature {
    padding: 0 42px;
}
section.features .feature:not(:last-of-type) {
    border-right: 1px solid #dedfe1;
}
section.features .feature p {
    max-width: 160px;
    line-height: 16px;
}
/* -------------------- *\
  End features
\* -------------------- */

/* -------------------- *\
  Start Get-Started Section
\* -------------------- */
section.get-started {
    padding-bottom: 70px;
    margin-top: -10px;
}
section.get-started .steps {
    flex-wrap: wrap;
    justify-content: space-around;
}
section.get-started h2.h1 {
    max-width: 772px;
    margin-bottom: 65px;
}
section.get-started span {
    font-size: 15px;
}
section.get-started h2 {
    font-size: 40px;
    margin-bottom: 18px;
}
section.get-started p {
    max-width: 340px;
    font-size: 15px;
    margin-top: 4px;
    margin-left: -10px;
    line-height: 17px;
}
section.get-started .steps > div {
    margin-bottom: 75px;
}
section.get-started .step-two {
    margin-top: 60px;
}
section.get-started .get-started {
    padding: 15px 85px;
    font-size: 24px;
}
/* -------------------- *\
  End Get-Started Section
\* -------------------- */

.image-breaker {
    height: 33px;
    background: url(../img/breaker-2.png);
}

/* -------------------- *\
  Start Designs Section
\* -------------------- */
section.designs {
    background-color: #a07b1b;
    padding: 85px 0 225px;
}
section.designs h2.h1 {
    max-width: 609px;
    margin-bottom: 65px;
}
section.designs .image {
    border-radius: 6px;
    margin-right: 16px;
    margin-left: 16px;
    border: 1px solid #979797;
}
section.designs p {
    margin-top: 58px;
    color: #e5dacb;
}
/* -------------------- *\
  End Designs Section
\* -------------------- */

/* -------------------- *\
  Start Print Provider
\* -------------------- */
.print-provider-container {
    top: -175px;
    max-width: 1006px;
    overflow: hidden;
    margin-bottom: -100px;
    box-shadow: 0 1px 60px rgba(0, 0, 0, .17);
}
.print-provider-container .text {
    max-width: 609px;
    padding: 0 15px;
}
.print-provider-container h2.h1 {
    margin-bottom: 35px;
}
.print-provider-container .print-provider-btn {
    padding: 12px 38px 10px;
}
/* -------------------- *\
  End Print Provider
\* -------------------- */

/* -------------------- *\
  Start World-Map Section
\* -------------------- */
section.world-map {
    margin-bottom: 82px;
    max-width: 985px;
}
section.world-map h2.h1 {
    bottom: 16px;
    right: 0;
    color: #8a6810;
    background: -webkit-linear-gradient(240deg, rgba(138,104,16,1) 0%, rgba(200,160,56,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* -------------------- *\
  End World-Map Section
\* -------------------- */

/* -------------------- *\
  Start Footer Section
\* -------------------- */
footer {
    background-color: #f9f8f5;
    padding-top: 38px;
}
footer .container {
    padding-bottom: 66px;
}
footer p {
    max-width: 463px;
    margin-top: 40px;
    margin-bottom: 19px;
}
footer .footer-links {
    max-width: 990px;
    margin: 67px auto 63px;
}
footer .list:not(:last-of-type) {
    border-right: 1px solid #dedfe1;
}
footer .list li a {
    color: #222;
}
footer .order-copy {
    padding: 10px 75px;
    margin-right: 9px;
}
footer .print-provider-btn {
    padding: 11px 36px;
}
footer .copyright {
    background-color: #fefdfc;
    padding: 33px 0 81px;
}
/* -------------------- *\
  End Footer Section
\* -------------------- */

/* ------------------------------------------------------------------ *\
  End Home Page
\* ------------------------------------------------------------------ */

/* ------------------------------------------------------------------ *\
  Start Copy 3 Page
\* ------------------------------------------------------------------ */

/* -------------------- *\
  Start Products Section
\* -------------------- */
section.products {
    padding: 47px 0 80px;
}
section.products .text-wrapper {
    margin-right: 60px;
}
section.products .text-wrapper h2 {
    margin-bottom: 17px;
}
section.products .input-wrapper {
    width: 389px;
    max-width: 389px;
    margin-right: 48px;
}
section.products .input-wrapper input {
    padding: 14px 23px 15px 57px;
    background-color: #f7f3ee;
}
section.products .input-wrapper input::placeholder {
    color: #afa9a0;
}
section.products .input-wrapper i {
    padding-left: 21px;
    left: 3px;
    top: calc(50% - 0.5em);
}
section.products .sort-wrapper .dropdown-toggle {
    margin: 0 5px 0 15px;
}
section.products .sort-wrapper .dropdown-toggle:hover {
    color: rgba(0, 0, 0, .9);
}
section.products .sort-wrapper .dropdown-toggle::after {
    display: none;
}
section.products .category-list {
    margin: 12px 0 76px;
}
section.products .item {
    box-shadow: 0 3px 7px rgba(0, 0, 0, .15);
    border-radius: 2px;
    margin: 19px 25px 19px 0;
    flex-direction: column;
    flex: calc(33.3333% - 25px);
}
section.products .item:nth-of-type(3n) {
    margin-right: 0;
}
section.products .item .item-image {
    padding-left: 7px;
}
section.products .item .item-flag {
    left: 28px;
    bottom: -32px;
}
section.products .item-body {
    padding: 40px 34px 30px;
}
section.products .item .item-text {
    margin-bottom: 30px;
}
section.products .item .preview {
    font-size: 18px;
    border-radius: 6px;
    background-color: rgba(160, 123, 27, .08);
    padding: 17px 0 15px;
    width: 144px;
    margin-right: 9px;
    line-height: 21px
}
section.products .item .handbag {
    vertical-align: sub;
    font-size: 23px;
    border-radius: 6px;
    background-color: rgba(16, 107, 46, .07);
    color: #106b2e;
    padding: 14px 0 13px;
    width: 57px;
    line-height: 26px;
}
/* -------------------- *\
  End Products Section
\* -------------------- */

/* -------------------- *\
  Start Pagination Section
\* -------------------- */
.products-pagination {
    max-width: 586px;
    font-size:  22px;
}
.pagination-list li, .pagination-list li a {
    display: inline-block;
}
.pagination-list li a {
    width: 58px;
    padding: 17px 0 15px;
    line-height: 26px;
    color: #666;
    text-decoration: none;
    border-radius: 5px;
    transition: .15s ease-in-out;
    cursor: pointer;
}
.products-pagination .active a, .products-pagination a:hover {
    background-color: rgba(200, 160, 56, .2);
    color: #a07b1b;
}
/* -------------------- *\
  End Pagination Section
\* -------------------- */

/* ------------------------------------------------------------------ *\
  End Copy 3 Page
\* ------------------------------------------------------------------ */

/* ------------------------------------------------------------------ *\
  Start Copy 3 Page
\* ------------------------------------------------------------------ */

/* -------------------- *\
  Start Product Section
\* -------------------- */
section.product .title-wrapper {
    padding: 29px 0 23px;
}
section.product .title-wrapper h1 {
    margin-left: 26px;
}
section.product .thumbnail li {
    width: 88px;
    height: 56px;
    background-color: #f3f1ed;
    margin: 0 0 9px 0;
}
section.product .thumbnail .active, section.product .thumbnail li:hover {
    border: 2px solid #a07b1b;
}
section.product .image {
    border: 1px solid #afa9a0;
    margin: 0 30px 0 15px;
}
section.product .image.slider img {
    display: none;
}
section.product .image.slider img.active {
    display: block;
}
section.product .details {
    max-width: 416px;
}
section.product .size, section.shopping-cart .size {
    border-radius: 5px;
    background-color: #f8f4ef;
    margin: 30px 0 24px;
    padding: 22px 21px 13px;
}
section.product .size .checkbox, section.shopping-cart .size .checkbox {
    margin: 0 auto 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #afa9a0;
}
section.product .size .active .checkbox, section.shopping-cart .size .active .checkbox {
    background-color: #106b2e;
}
section.product .size .active .checkbox:after,
section.shopping-cart .size .active .checkbox:after {
    position: absolute;
    top: 4px;
    left: 8px;
    content: '';
    display: inline-block;
    color: #fff;
    width: 6px;
    height: 13px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(35deg);
    transition: .15s ease-in-out;
}
section.product .size button, section.shopping-cart .size button {
    height: 76px;
    border-radius: 5px;
    background-color: #ede4d9;
    margin: 19px 4px 14px;
}
section.product .size .active, section.shopping-cart .size .active {
    border: 2px solid #106b2e;
    background-color: #fcfbf9;
    color: #106B2E;
}
section.product .select-wrapper, section.shopping-cart .select-wrapper {
    height: 61px;
    margin-bottom: 34px;
}
section.product .select, section.shopping-cart .select {
    height: 61px;
    border-radius: 2px;
    border: 1px solid #e5dacb;
    background-color: #fff;
    padding: 0 18px;
}
section.product .copies-number, section.shopping-cart .copies-number {
    height: 52px;
    border: 1px solid #e5dacb;
    background-color: #ffffff;
    margin: 20px 0 23px;
    padding: 0 20px;
}
section.product .copies-number .minus, section.product .copies-number .plus, section.product .copies-number span,
section.shopping-cart .copies-number .minus, section.shopping-cart .copies-number .plus, section.shopping-cart .copies-number span {
    top: 50%;
    transform: translateY(-50%);
}
section.product .copies-number span, section.shopping-cart .copies-number span {
    transform: translate(-50%, -50%);
}
section.product .copies-number .minus, section.shopping-cart .copies-number .minus {
    left: 22px;
}
section.product .copies-number .plus, section.shopping-cart .copies-number .plus {
    right: 18px;
}
section.product .cart {
    height: 61px;
    border-radius: 2px;
    background-color: #106b2e;
    user-select: none;
}
section.product .cart:hover {
    background-color: #f9f8f5;
    color: #106b2e !important;
    border: 2px solid #106b2e;
}
section.product .cart:hover .added-number {
    color: #106b2e;
}
section.product .cart .added-number {
    opacity: 0;
    right: 30px;
}
section.product .cart .added-number.active {
    animation: plus 2s;
}
@keyframes plus {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
/* -------------------- *\
  Start Product Box-Modal Section
\* -------------------- */
.book-modal .modal-dialog {
    max-width: 995px;
}
section.product .modal-header .title-wrapper {
    width: 100%;
    padding: 24px 30px 16px 26px;
}
section.product .modal-header .title-wrapper h1 {
    margin-left: 11px;
    margin-bottom: 0;
}
section.product .modal-header .close {
    width: 34px;
    height: 34px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    background-color: #dedfe1;
    border-radius: 50%;
    padding: 0;
    text-shadow: none;
    opacity: 1;
    line-height: 0;
    margin: 0;
}
section.product .modal-header .close span {
    margin: 0 0 5px 1px;
}
section.product .modal-body {
    padding: 0 24px 0 29px;
}
section.product .modal-body .image-wrapper {
    margin: 0 34px 0 0;
}
section.product .modal-body .image {
    height: auto;
    margin: 0;
}
section.product .modal-body .image.slider img {
    display: none ;
}
section.product .modal-body .image.slider img.active {
    display: block;
}
section.product .modal-body .thumbnail li {
    width: 51px;
    height: 35px;
    margin: 22px 5px 6px;
}
section.product .modal-body .details {
    padding-bottom: 62px;
}
section.product .modal-body .details p {
    margin-bottom: 14px;
}
section.product .modal-body .size {
    margin: 24px 0 19px;
}
section.product .modal-body .select-wrapper {
    margin-bottom: 29px;
}
section.product .modal-body .copies-number {
    margin: 15px 0 18px;
}
/* -------------------- *\
  End Product Box-Modal Section
\* -------------------- */
/* -------------------- *\
  End Product Section
\* -------------------- */

/* -------------------- *\
  Start Product-Info Section
\* -------------------- */
section.product-info .text-wrapper {
    margin: 46px 0;
    padding: 52px 80px 70px 40px;
    border-radius: 5px;
    background-color: #f8f4ef;
}
section.product-info .text-wrapper .description {
    flex: 0 0 505px;
}
section.product-info .text-wrapper h2 {
    margin-bottom: 27px;
}
/* -------------------- *\
  End Product-Info Section
\* -------------------- */

/* -------------------- *\
  Start FAQ Section
\* -------------------- */
section.faq {
    margin: 53px 0 43px;
}
section.faq .text-wrapper {
    max-width: 903px;
}
section.faq h2 {
    margin-bottom: -5px;
}
section.faq .accordion {
    margin-top: 26px;
}
section.faq .card-header {
    background-color: transparent;
    padding: 0 0 6px;
}
section.faq .card button {
    padding-left: 0;
    white-space: normal;
}
section.faq .card button:hover, section.faq .card button:focus {
    color: unset;
    text-decoration: none;
}
section.faq .card .caret {
    transform: rotate(0);
    margin-right: 14px;
    font-size: 23px;
}
section.faq .card button.collapsed .caret {
    transform: rotate(-90deg);
}
section.faq .card .card-body {
    padding: 0;
}
/* -------------------- *\
  End FAQ Section
\* -------------------- */

/* ------------------------------------------------------------------ *\
  End Copy 4 Page
\* ------------------------------------------------------------------ */

/* ------------------------------------------------------------------ *\
  Start Copy 16 Page
\* ------------------------------------------------------------------ */
header .title {
    margin-top: 37px;
    margin-bottom: 24px;
}
header .title span {
    margin-left: 16px;
}
section.shopping-cart {
    padding: 33px 0 52px;
}
section.shopping-cart .hide {
    display: none !important;
}
section.shopping-cart .shopping-items {
    flex-basis: 676px;
    margin-right: 25px;
}
section.shopping-cart .shopping-item {
    padding: 30px 28px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    border-radius: 5px;
    border: 1px solid #e5dacb;
}
section.shopping-cart .shopping-item:not(:last-of-type) {
    margin-bottom: 24px;
}
section.shopping-cart .title-wrapper {
    margin-bottom: 28px;
}
section.shopping-cart .title-wrapper h1 {
    margin-left: 13px;
}
section.shopping-cart .shopping-items .image {
    margin-right: 28px;
    border: 1px solid #afa9a0;
}
section.shopping-cart .details {
    max-width: 410px;
}
section.shopping-cart .size {
    margin-bottom: 27px;
}
section.shopping-cart .size .mb-12 {
    margin-bottom: 12px;
}
section.shopping-cart .select-wrapper {
    margin-bottom: 18px;
    margin-top: -8px;
}
section.shopping-cart .select {
    border-radius: 4px;
}
section.shopping-cart .copies-number {
    width: 162px;
    border-radius: 2px;
}
section.shopping-cart .shopping-price {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    border-radius: 4px;
    padding: 28px 24px 38px;
}
section.shopping-cart .shopping-price .handbag {
    margin-right: 12px;
}
section.shopping-cart .shopping-price .checkout {
    height: 61px;
}
section.shopping-cart .shopping-price {
    flex-basis: 424px;
}
section.shopping-cart .shopping-price .title {
    margin-bottom: 29px;
}
section.shopping-cart .shopping-price .handbag {
    vertical-align: sub;
    font-size: 29px;
}
section.shopping-cart .shopping-price .footer {
    margin-top: 16px;
}
/* ------------------------------------------------------------------ *\
  End Copy 16 Page
\* ------------------------------------------------------------------ */

/* ------------------------------------------------------------------ *\
  Start Copy 13 Page
\* ------------------------------------------------------------------ */
section.checkout .information {
    flex-basis: 800px;
    margin: 52px 35px 51px 0;
}
section.checkout .information .sender-info {
    padding: 30px 24px 7px 33px;
    margin-bottom: 35px;
}
section.checkout .sender-info h2 {
    margin-bottom: 37px;
}
section.checkout .information .reciver-info {
    padding: 40px 34px 36px 33px;
    margin-bottom: 21px;
}
section.checkout .reciver-info h2 {
    margin-bottom: 32px;
}
section.checkout .reciver-info .checkbox:before {
    width: 27px;
    height: 27px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #444;
    left: -44px;
    top: -1px;
}
section.checkout .reciver-info .checkbox:after {
    top: 5px;
    left: -33px;
    width: 5px;
    height: 14px;
    border: solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(35deg);
    background-image: none !important;
}
section.checkout .reciver-info .checkbox.bg-red:before {
    left: -37px;
}
section.checkout .reciver-info .checkbox.bg-red:after {
    left: -26px;
}
section.checkout .reciver-info input[type=checkbox]:checked + .checkbox:before {
    background-color: #a07b1b;
    border: none;
}
section.checkout .reciver-info input[type=checkbox]:checked + .checkbox.bg-red:before {
    background-color: #ac4c31;;
    border: none;
}
section.checkout .reciver-info .gift-checkbox {
    left: 13px;
    margin: 11px 0 32px;
}
section.checkout .reciver-info .textarea {
    height: 198px;
    padding: 27px;
    border: 1px solid #ac4c31;
    background-color: rgba(172, 76, 49, .05);
}
.floating-label.gift-label {
    left: 28px;
}
section.checkout .information .payment-methods {
    padding: 34px 0 17px;
}
section.checkout .payment-methods h2 {
    margin: 0 0 30px 34px;
}
section.checkout .payment-methods .nav-tabs {
    border: none;
    height: 94px;
}
section.checkout .payment-methods .nav-item {
    background-color: #fefdfc;
    border-radius: 0;
    border-color: #e5dacb transparent;
    border-width: .5px;
    flex: 1;
}
section.checkout .payment-methods .nav-item.active,
section.checkout .payment-methods .nav-item:focus,
section.checkout .payment-methods .nav-item:hover {
    background-color: #fff;
    border-color: #e5dacb #e5dacb #fff;
    color: #a07b1b;
}
section.checkout .payment-methods .tab-content {
    padding: 40px 44px 0 32px;
}
section.checkout .payment-methods .tab-content>.active {
    display: flex;
}
section.checkout .payment-methods .checkout-button {
    margin-right: 42px;
    flex-basis: 445px;
}
section.checkout .payment-methods .price {
    margin-bottom: 15px;
}
section.checkout .payment-methods .checkout {
    height: 61px;
    border-radius: 2px;
}
section.checkout .payment-methods .text {
    flex-basis: 232px;
}
section.checkout .payment-methods .text h3 {
    margin-bottom: 21px;
}
section.checkout .payment-methods .text p {
    margin-top: 15px;
}
section.checkout .shopping-items {
    border-radius: 5px;
    border: 1px solid #e5dacb;
    top: -73px;
}
section.checkout .shopping-items .title {
    border-bottom: 1px solid #e5dacb;
    padding: 26px 28px 16px 24px;
}
section.checkout .shopping-items .item {
    padding: 20px 0 13px 21px;
    border-bottom: 1px solid #e5dacb;
}
section.checkout .shopping-items .text {
    margin-left: 18px;
}
section.checkout .shopping-items .footer {
    padding: 19px 12px 22px 0;
}
/* ------------------------------------------------------------------ *\
  End Copy 13 Page
\* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ *\
  Start Copy 14 Page
\* ------------------------------------------------------------------ */
section.contact-us .contact-form {
    flex-basis: 734px;
    padding: 30px 36px 30px 33px;
    margin: 52px 44px 35px 0;
}
section.contact-us .contact-form h2 {
    margin: 0 0 24px 1px;
}
section.contact-us .contact-form .textarea {
    height: 191px;
    padding: 27px;
}
section.contact-us .contact-form .submit {
    height: 61px;
    width: 238px;
    margin-top: 12px;
}
section.contact-us .contact-info {
    margin: 52px 0;
}
section.contact-us .contact-number {
    padding: 32px 0 25px 34px;
    margin-bottom: 48px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}
section.contact-us .contact-number .phone-icon {
    font-size: 38px;
    transform: rotate(90deg);
    left: -5px;
    margin-right: 19px;
}
section.contact-us .follow-us h3 {
    margin-bottom: 18px;
}
section.contact-us .follow-us i {
    font-size: 28px;
    margin: 6px 6px 0 0;
}
section.contact-us .follow-us span {
    padding: 21px 0 8px;
    border-bottom: 1px solid #c8c7cc;
}
section.faq.contact {
    margin-bottom: 53px;
}
section.faq.contact .card button:hover, section.faq.contact .card button:focus {
    color: #106b2e;
}
section.faq.contact .accordion {
    margin-top: 11px;
}
section.faq.contact .accordion .card {
    margin-bottom: 12px;
    background-color: transparent;
}
section.faq.contact .card .caret {
    margin-right: 9px;
}
/* ------------------------------------------------------------------ *\
  End Copy 14 Page
\* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ *\
  Start Copy 15 Page
\* ------------------------------------------------------------------ */
section.create-account .form {
    margin: 52px 0 70px;
}
section.create-account .register-form {
    flex-basis: 644px;
    margin-right: 44px;
    padding: 30px 26px 36px 33px;
}
section.create-account .register-form h2 {
    margin: 0 0 38px 1px;
}
section.create-account .register-form .submit {
    width: 193px;
    height: 61px;
    margin-top: 13px;
}
section.create-account .login-form {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    padding: 31px 22px 45px 23px;
}
section.create-account .login-form .header {
    margin: 0 0 19px 2px;
}
section.create-account .login-form .form-group {
    margin-bottom: 10px;
}
section.create-account .login-form input {
    height: 61px;
}
section.create-account .login-form .submit {
    background-color: rgba(16, 107, 46, .1);
    margin-top: 10px;
    height: 61px;
}
section.create-account .social-login {
    margin-top: 70px;
}
section.create-account .social-login h5 {
    margin-bottom: 19px;
}
section.create-account .social-login button {
    margin: 0 6px;
    height: 40px;
    width: 110px;
}
/* ------------------------------------------------------------------ *\
  End Copy 15 Page
\* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ *\
  Start Copy 18 Page
\* ------------------------------------------------------------------ */
header .user-button {
    height: 47px;
    width: 210px;
    background-color: #e5dacb;
}
section.user-profile .profile-info-container {
    padding: 44px 0 124px;
}
section.user-profile .profile-links {
    margin-right: 40px;
}
section.user-profile .profile-links .active i,
section.user-profile .profile-links .active a,
section.user-profile .profile-links a:hover {
    color: #106b2e;
}
section.user-profile .profile-links li {
    padding: 30px 0 29px 39px;
}
section.user-profile  .profile-links i {
    margin-right: 23px;
}
section.user-profile  .profile-links li:not(:last-of-type) {
    border-bottom: 1px solid #e5dacb;
}
section.user-profile .orders-container,
section.user-profile .address-container,
section.user-profile .personal-info-container {
    flex-basis: 726px;
}
section.user-profile .orders-info {
    padding: 25px 0 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
section.user-profile .orders-info:not(:last-of-type) {
    margin-bottom: 42px;
}
section.user-profile .orders-info .header,
section.user-profile .shopping-item,
section.user-profile .orders-info .footer {
    padding: 0 25px 0 34px;
}
section.user-profile .orders-info .header {
    padding-bottom: 24px;
}
section.user-profile .orders-info .delivered {
    color: #106b2e;
}
section.user-profile .shopping-item .title {
    padding: 35px 0 25px;
}
section.user-profile .shopping-item .image {
    margin-right: 23px;
}
section.user-profile .shopping-item .flag {
    margin-right: 11px;
}
section.user-profile .shopping-item .size {
    padding: 11px 15px 8px;
    background-color: #f7f4ef;
}
section.user-profile .size span:nth-of-type(odd) {
    margin-right: 32px;
}
section.user-profile .shopping-item .copies-number {
    padding: 22px 0 31px;
}
section.user-profile .orders-info .footer {
    padding-top: 16px;
}
section.user-profile .footer .view-order {
    width: 157px;
    height: 50px;
}
/* ------------------------------------------------------------------ *\
  End Copy 18 Page
\* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ *\
  Start Copy 19 Page
\* ------------------------------------------------------------------ */
section.user-profile .primary-address {
    padding: 40px 21px 30px 33px;
    margin-bottom: 27px;
}
section.user-profile .primary-address h2 {
    margin-bottom: 40px;
}
section.user-profile .primary-address .buttons {
    margin-top: 49px;
}
section.user-profile .secondry-address {
    padding: 39px 33px 25px;
    margin-bottom: 50px;
}
section.user-profile .secondry-address h2 {
    margin-bottom: 28px;
}
section.user-profile address {
    margin-left: 2px;
    margin-bottom: 39px;
}
section.user-profile address span {
    line-height: 21px;
}
section.user-profile button.green-bg,
section.user-profile button.green-bg {
    width: 199px;
    height: 50px;
    margin-right: 35px;
}
section.user-profile .new-address {
    width: 382px;
    height: 50px;
}
/* ------------------------------------------------------------------ *\
  End Copy 19 Page
\* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ *\
  Start Copy 20 Page
\* ------------------------------------------------------------------ */
section.user-profile .personal-info {
    padding: 40px 35px;
    margin-bottom: 17px;
}
section.user-profile .personal-info h2 {
    margin-bottom: 40px;
}
section.user-profile .personal-info .buttons {
    margin-top: 33px;
}
section.user-profile .save {
    width: 193px;
    height: 61px;
}
section.user-profile .account-info {
    padding: 41px 33px;
}
section.user-profile .account-info h2 {
    margin-bottom: 27px;
}
section.user-profile .account-info address {
    margin-bottom: 60px;
}
section.user-profile .account-info button {
    margin-left: 4px;
    margin-right: 0;
}
/* ------------------------------------------------------------------ *\
  End Copy 20 Page
\* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ *\
  Start Copy 3-2 Page
\* ------------------------------------------------------------------ */
section.products.two {
    overflow: hidden;
}
section.products.two section.product {
    max-width: 1026px;
    height: 641px;
}
section.products.two .modal-content {
    border-radius: 0;
}
section.products.two .modal-body {
    padding: 0 24px 0 10px;
}
section.products.two .modal-body .thumbnail {
    margin: 22px 8px 0 0;
}
section.products.two .modal-body .thumbnail li {
    width: 88px;
    height: 56px;
    margin: 0 7px 15px 3px;
}
section.products.two .modal-body .image.with-out-boder {
    border: none;
    background-color: #f6f2e9;
}
section.products.two .modal-body .image .left,
section.products.two .modal-body .image .right {
    bottom: 31px;
}
section.products.two .modal-body .image .left {
    left: 22px;
}
section.products.two .modal-body .image .right {
    right: 20px;
}
section.products.two .modal-body .details {
    margin-left: 30px;
    padding: 50px 0 0;
}
section.products.two .modal-body .description {
    margin-bottom: 32px;
}
section.products.two .modal-body .description h2 {
    margin-bottom: 20px;
}
section.products.two .modal-body .description p {
    line-height: 21px;
}
section.products.two .modal-body .features {
    margin-bottom: 54px;
}
section.products.two .modal-body .features h5 {
    margin-bottom: 10px;
}
section.products.two .modal-body .features h5 {
    margin-bottom: 10px;
}
section.products.two .modal-body .features span {
    line-height: 21px;
}
section.products.two .modal-body .copies-number {
    width: 222px;
    margin-bottom: 21px;
}
section.products.two .title {
    width: 670px;
    margin-bottom: 80px;
}
section.products.two .title h2 {
    margin-bottom: 25px;
}
section.products.two .title p {
    line-height: 22px;
}
section.products.two .progress-steps {
    margin-bottom: 77px;
}
section.products.two .progress-steps .step {
    width: 240px;
    margin: 40px 84px 0 0;
}
section.products.two .progress-steps .circle {
    position: absolute;
    top: -60px;
    left: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #afa9a0;
    background-color: #f9f8f5;
}
section.products.two .progress-steps .step-one:after,
section.products.two .progress-steps .step-one:before,
section.products.two .progress-steps .step-two:after,
section.products.two .progress-steps .step-three:after {
    content: '';
    position: absolute;
    top: -43px;
    height: 3px;
    background-color: #afa9a0;
}
section.products.two .progress-steps .step-one:after {
    left: 40px;
    width: 293px;
}
section.products.two .progress-steps .step-one:before {
    left: -1195px;
    width: 1200px;
}
section.products.two .progress-steps .step-two:after {
    left: 40px;
    width: 294px;
}
section.products.two .progress-steps .step-three:after {
    left: 40px;
    width: 1600px;
}
section.products.two .progress-steps .step.active:before,
section.products.two .progress-steps .step.active:after {
    background-color: #106b2e;
}
section.products.two .progress-steps .step.active .circle {
    border-color: #106b2e;
}
section.products.two .progress-steps .step.active h4:last-child{
    color: #106b2e;
}
section.products.two .input-wrapper {
    width: 676px;
    max-width: 676px;
    margin-right: 0;
}
section.products.two .input-wrapper input {
    padding-left: 57px;
    background-color: #fff;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}
section.products.two .category-list {
    margin-top: 26px;
}
section.products.two .item {
    flex: calc(50% - 25px)
}
section.products.two .item {
    margin-right: 42px;
}
section.products.two .item:nth-of-type(2n) {
    margin-right: 0;
}
section.products.two .item .item-image {
    padding-left: 0;
}
/* ------------------------------------------------------------------ *\
  End Copy 3-2 Page
\* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ *\
  Start Copy 6 Page
\* ------------------------------------------------------------------ */
section.product.two {
    padding: 39px 0 66px;
}
section.product.two .title {
    max-width: 703px;
    margin-bottom: 51px;
}
section.product.two .title h2 {
    margin-bottom: -6px;
}
section.product.two .title p {
    line-height: 22px;
}
section.product.two .image-wrapper.with-border {
    border: 1px solid #f2ede5;
    margin-right: 32px;
    max-width: 691px;
}
section.product.two .image.with-out-border {
    border: none;
}
section.product.two .features {
    padding: 27px;
    margin-bottom: 37px;
}
section.product.two .features h5 {
    margin-bottom: 12px;
}
section.product.two .features span {
    line-height: 24px;
}
section.product.two .options hr {
    height: .5px;
    background-color: #a07b1b;
    opacity: .6;
    margin: 12px 0 21px;
}
section.product.two .mushaf-size {
    margin-bottom: 46px;
}
section.product.two .mushaf-translation {
    margin-bottom: 34px;
}
section.product.two .mushaf-size h4,
section.product.two .mushaf-translation h4{
    margin-bottom: 15px;
}
section.product.two .options .custom-radio {
    margin: 0 0 9px 20px;
}
section.product.two .options label:before {
    top: 2px;
    left: -44px;
    width: 24px;
    height: 24px;
    border: 1px solid #979797;
    border-radius: 50%;
    background-color: transparent;
}
section.product.two .options label:after {
    left: -35px;
    top: 6px;
    width: 5px;
    height: 12px;
    border: solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(35deg);
    background-image: none !important;
}
section.product.two .options input:checked ~ label {
    color: #106b2e;
}
section.product.two .options input:checked ~ label:before {
    background-color: #106b2e
}
section.product.two .copies-number {
    max-width: 222px;
    margin: 17px 0 27px;
}
section.product.two .cart {
    max-width: 357px;
}
/* ------------------------------------------------------------------ *\
  End Copy 6 Page
\* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ *\
  Start Copy 7 Page
\* ------------------------------------------------------------------ */
section.product.two.with-flag .title {
    max-width: 640px;
    margin-bottom: 36px;
}
section.product.two.with-flag .title .image {
    margin: 0 20px 0 0;
}
section.product.two.with-flag .title h2 {
    margin-bottom: -8px;
}
section.product.two.with-flag .top-cart {
    width: 264px;
    top: 13px;
    right: 15px;
}
section.product.two.with-flag .image-wrapper {
    width: 691px;
    margin-right: 34px
}
section.product.two.with-flag .image-wrapper .image {
    border: 1px solid #e5dacb;
    margin: 0 0 18px 0;
    padding: 0 44px;
}
section.product.two.with-flag .thumbnail li {
    margin: 0 8px;
}
/* ------------------------------------------------------------------ *\
  End Copy 7 Page
\* ------------------------------------------------------------------ */
/* -------------------- *\
  Media Queries
\* -------------------- */
@media (max-width: 1300px) {
    header .carousel-item {
        text-align: center !important;
    }
    header .carousel .image {
        position: unset !important;
    }
    header .carousel .text {
        margin: 50px 0 145px;
    }
}
@media (max-width: 1250px) {
    header .navbar-collapse {
        margin-top: 15px;
    }
    header .navbar-nav {
        margin-bottom: 10px;
    }
    header .navbar-collapse .navbar-nav .nav-item {
        margin: 8px 0;
    }
    header .nav-wrapper {
        align-items: flex-start !important;
    }
    header .navbar .cart-modal, header .cart-modal .modal-dialog {
        top: 0;
        left: 0;
    }
    header .cart-modal .modal-content:after {
        content: none;
    }
}
@media (max-width: 1199px) {
    section.get-started .step-two {
        margin-top: 0;
    }
    section.products .input-wrapper {
        margin-right: 0;
    }
    section.products .item .item-flag {
        left: 24px;
    }
    section.product .image {
        margin: 0 0 40px 15px;
    }
    section.product .modal-body .image-wrapper {
        margin: 0;
    }
    section.product-info .text-wrapper .description {
        flex: 0 0 350px;
    }
    section.shopping-cart .shopping-items,
    section.user-profile .profile-links {
        margin-right: 0;
    }
    section.shopping-cart .shopping-price {
        margin-top: 40px;
    }
    section.checkout .information,
    section.contact-us .contact-form,
    section.create-account .register-form {
        margin-right: 0;
        flex-basis: auto;
    }
    section.checkout .shopping-items {
        top: 0;
        margin-bottom: 35px;
    }
    section.contact-us .contact-info {
        margin-bottom: 20px;
    }
    section.create-account .register-form {
        margin-bottom: 52px;
    }
    section.user-profile .profile-links {
        margin-bottom: 44px;
    }
}
@media (max-width: 991px) {
    header .carousel {
        padding: 0 60px;
    }
    section.designs .design-images .image:not(.last) {
        margin-bottom: 20px;
    }
    section.products .input-wrapper {
        margin-right: 48px;
        max-width: 389px;
    }
    section.products .item {
        flex: calc(50% - 25px);
    }
    section.products .item:nth-of-type(even) {
        margin-right: 0;
    }
    section.products .item:nth-of-type(odd) {
        margin-right: 25px;
    }
    section.products .item .item-flag {
        left: 27px;
    }
    section.product .thumbnail li {
        margin: 0 9px 20px 0;
    }
    section.product-info .text-wrapper .features, section.product-info .text-wrapper .description {
        margin-bottom: 27px;
    }
    section.product-info .text-wrapper .description {
        flex: auto;
    }
    section.products.two .input-wrapper {
        margin-bottom: 12px;
    }
    section.product.two .image-wrapper {
        margin: 0 0 40px;
    }
    section.product.two.with-flag .image-wrapper {
        width: auto;
        margin-right: 0;
    }
}
@media (max-width: 900px) {
    header .carousel .text {
        margin: 50px 0;
    }
    section.features .features-image {
        background: none;
        top: 0;
        height: auto;
        margin: 40px 0;
    }
    section.get-started {
        margin-top: 0;
    }
}
@media (max-width: 767px) {
    section.features .feature:not(:last-of-type) {
        border-right: none;
    }
    section.features .feature {
        flex: 0 0 50%;
    }
    section.designs .image {
        flex: 0 0 calc(50% - 32px);
    }
    section.world-map h2.h1 {
        bottom: -10px;
    }
    footer .footer-links {
        margin: 51px auto 47px;
    }
    footer .list {
        flex: 0 0 100%;
    }
    footer .list:not(:last-of-type) {
        border-right: none;
        border-bottom: 1px solid #dedfe1;
    }
    footer .order-copy, footer .print-provider-btn {
        display: block !important;
    }
    footer .order-copy {
        margin: 0 0 10px 0;
    }
    section.products .input-wrapper {
        margin-bottom: 12px;
        width: 300px;
    }
    section.products .item {
        flex: 0 0 365px;
        margin-right: 0 !important;
    }
    section.products .item:nth-of-type(even) {
        margin-right: 0;
    }
    section.products .item:nth-of-type(odd) {
        margin-right: 25px;
    }
    section.products .item .item-flag {
        left: 28px;
    }
    section.product .image {
        height: auto;
    }
    section.product .modal-body {
        padding: 0 24px;
    }
    .flex-wrap .form-group:nth-of-type(odd):not(:last-of-type) {
        margin-right: 0;
    }
    section.checkout .reciver-info .checkbox.info {
        left: 20px;
        margin-bottom: 32px;
    }
    section.checkout .payment-methods .checkout-button,
    section.checkout .payment-methods .text {
        flex-basis: auto;
    }
    section.checkout .payment-methods .checkout-button {
        margin-right: 0;
        margin-bottom: 40px;
    }
    section.products.two .progress-steps {
        margin-left: 60px;
    }
    section.products.two .progress-steps .step {
        margin-top: 40px
    }
    section.products.two .progress-steps .step:before, section.products.two .progress-steps .step:last-of-type:after {
        display: none;
    }
    section.products.two .progress-steps .step:after {
        top: 57px;
        left: -67px;
        width: 48px;
        transform: rotate(90deg);
    }
    section.products.two .progress-steps .step .circle {
        top: 0;
        left: -60px;
    }
    section.products.two .modal-body .image img {
        max-width: 100%;
    }
    section.product.two.with-flag .image-wrapper .image {
        padding: 0;
    }
    section.product.two.with-flag .thumbnail li {
        margin: 0 8px 8px;
    }
}
@media (max-width: 575px) {
    header .text .order-copy, header .text .learn-more {
        display: block !important;
    }
    header .text .order-copy {
        padding-left: 42px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    section.features .feature {
        flex: 0 0 100%;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    section.features .feature:not(:last-of-type) {
        border-bottom: 1px solid #dedfe1;
    }
    section.products .text-wrapper {
        margin-right: 0;
    }
    section.products .input-wrapper {
        width: 100%;
        max-width: none;
        margin-bottom: 30px;
    }
    section.products .item {
        max-width: 365px;
        display: inline-block !important;
    }
    section.product-info .text-wrapper {
        padding: 52px 15px 70px;
    }
    section.faq .card button {
        font-size: 25px;
    }
    section.faq .card .caret {
        margin-right: 5px;
    }
    section.product.two.with-flag .thumbnail li {
        width: 60px;
        height: 40px;
    }
}
@media (max-width: 500px) {
    header .navbar.nav-with-out-ul .container {
        flex-direction: column;
    }
    header .nav-wrapper {
        flex-direction: column;
    }
    header .navbar.nav-with-out-ul .login-register {
        margin-top: 25px;
    }
    header .navbar .cart-modal .modal-header {
        padding: 36px 15px 3px;
        flex-direction: column;
    }
    header .text h1, section.get-started h2, section.designs h2.h1, .print-provider-container h2.h1 {
        font-size: 24px;
    }
    section.product .modal-header .title-wrapper {
        padding: 55px 15px 16px 15px;
    }
    section.product .modal-header .title-wrapper h1 {
        margin-left: 5px;
        font-size: 26px;
    }
    section.product .modal-header .close {
        position: absolute;
        right: 5px;
        top: 8px;
    }
    section.user-profile .orders-info .footer {
        flex-direction: column;
    }
    section.user-profile .footer .view-order {
        margin-top: 14px;
        width: 100%;
    }
    section.user-profile .address-container .buttons {
        text-align: center;
    }
    section.user-profile .primary-address button.green-bg,
    section.user-profile .secondry-address button.green-bg {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    section.user-profile .new-address {
        width: 100%;
    }
}
@media (max-width: 400px) {
    header .navbar .register,
    section.create-account .forget-account {
        font-size: 15px;
    }
    header .navbar .social-login {
        flex-direction: column;
    }
    header .navbar .social-login button {
        margin: 6px 0;
    }
    header .text .order-copy, header .text .learn-more {
        padding: 13px 26px;
    }
    section.get-started .get-started {
        padding: 15px 59px;
    }
    section.world-map h2.h1 {
        font-size: 28px;
    }
    section.products .text-wrapper h2 {
        font-size: 32px;
    }
    section.products .item .item-image {
        padding-left: 0;
    }
    section.products .item .item-flag {
        left: 20px;
    }
    section.products .item-body {
        padding: 40px 15px 30px;
    }
    section.product .title-wrapper h1 {
        font-size: 32px;
        margin-left: 10px;
    }
    section.product .modal-body .thumbnail li {
        flex-basis: 30%;
        height: 55px;
    }
    section.shopping-cart .shopping-item {
        padding: 30px 12px 0;
    }
    section.shopping-cart .details .options {
        flex-direction: column;
        align-items: flex-start !important;
    }
    section.shopping-cart .details .edit {
        margin-top: 20px;
    }
    section.checkout .container {
        padding: 0;
    }
    section.checkout .information .reciver-info,
    section.checkout .information .sender-info,
    section.contact-us .contact-form,
    section.create-account .register-form,
    section.create-account .login-form,
    section.user-profile .orders-info .header,
    section.user-profile .shopping-item,
    section.user-profile .orders-info .footer,
    section.user-profile .primary-address,
    section.user-profile .secondry-address,
    section.user-profile .personal-info,
    section.user-profile .account-info {
        padding-right: 10px;
        padding-left: 10px;
    }
    section.contact-us .contact-form .submit, section.create-account .register-form .submit {
        width: auto;
    }
    section.contact-us .contact-number {
        padding-left: 15px;
    }
    section.create-account .social-links {
        flex-direction: column;
    }
    section.create-account .social-links button {
        margin: 6px 0;
    }
    section.user-profile .personal-info-container button {
        width: 100%;
    }
    section.product.two .title h2 {
        font-size: 34px;
    }
    section.product.two .features {
        padding: 10px;
    }
    section.product.two .features span {
        font-size: 16px;
    }
    section.product.two.with-flag .title .image {
        margin: 0 5px 0 0;
    }
    section.product.two.with-flag .title h2 {
        font-size: 30px;
    }
}
@media (max-width: 350px) {
    .print-provider-container h2 {
        margin-bottom: 24px;
    }
    .print-provider-container .print-provider-btn {
        padding: 12px 28px;
    }
    footer .order-copy {
        padding: 12px 65px;
    }
    footer .print-provider-btn {
        padding: 11px 25px;
    }
    section.user-profile .profile-links li {
        padding-left: 20px;
    }
}
@media (min-width: 1250px) {
    .navbar-expand-custom {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom > .container,
    .navbar-expand-custom > .container-fluid {
        flex-wrap: nowrap;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}
